HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Terraform ###
.terraform/
terraform.tfstate*
terraform.tfvars

### direnv
### https://github.com/direnv/direnv
.envrc

### testdata
aws/glue-crawler-sample/salesdata.csv
aws/glue-job-sample/01_testdata_upload/amazon_reviews_us_Camera_v1_00.tsv
